* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

body {
    background-color: #222;
}

.navbar {
    width: 150px;
    max-height:50px;
    display: flex;
    align-items: center;
}

.bar {
    height: 1px;
    background-color: rgba(255,255,255,0.2);
}

.s {
   padding-left: 425px;
}

.search {
    padding-right: 375px;
    color: black;
    background-color: rgb(38, 38, 38);
    

}

.content {
    background-color: rgb(56, 55, 55);
}

.all {
    background-color: rgb(68, 68, 68);
    border-radius: 10px;
    font-size: 20px;
    text-size-adjust: 1px;
    transition: 0.2s;
}

.all:hover {
    background-color: rgb(94, 92, 92);
    border-radius: 10px;
    font-size: 20px;
}

.button {
    padding-left: 10px;
    padding-top:10px;
    padding-bottom: 10px;
    display: flex;
}


.button-search{
    background-color: rgb(84, 83, 83);
}
.btns {
    padding-left: 5px;
    width: 50px;
    height: 21px;
    justify-content: center;
    align-items: center;
    display: flex;
}

